@charset "utf-8";
/* CSS Document */
@import url('header.css');
@import url('iconfont.css');
@import url('jquery-ui.css');

/*城市box 布局样式*/
/*城市*/
.city_search{left:0; top:32px; z-index:10;width:398px; background:#fff;}
.city_search .city_sea .search_city_hot a,.city_down_list dd a,.com_results dl a{ display:inline-block; margin-right:8px; line-height:22px}
.city_down_list dt{ width:40px;}
.city_down_list dd{ width:320px;}
.city_search a:hover{ text-decoration:underline}

 
 
 
input{margin:0;padding:0; border:0;}
.main{width:100%;}
/*banner*/
.bannerbox,.bigimg,.bigimg li,.bigimg li a{
	width:100%;
	height:400px;
}
.bigimg li{
	display: none;
}
.bigimg li a{
	display: block;
	position: absolute;
	top:0;
	left:0;

}
.smallimg{
	right:20px;
	top:20px;
}
.smallimg li{
	width:110px;
	height:62px;
	margin-top: 5px;
	border:2px solid transparent;
	cursor: pointer;
}

.smallimg li.active_bann{
	border:2px solid #f39600;
}
/*悬浮搜索*/
.float_indigene{
	width:495px;
	height:315px;
	background:url(../images/erjibg.png);

	position:absolute;
	left:50%;
	margin-left:-600px;
	top:35px;
	}
.float_list,.float_list ul{
	width:495px;
	height:44px;
	}
.float_list li{
	display:block;
	float:left;
	width:165px;
	height:43px;
	border-bottom:1px solid #ff8800;
	cursor:pointer;
	}
.float_list span{
	text-align:center;
	display:block;
	width:163px;
	height:42px;
	font-size:14px;
	line-height:44px;
	margin-left:1px;
	}
.float_list span:hover{
	color:#ff8800;
	background-color:#fff;
	}
.erjili{
	background-color:#ff8800;
	border-bottom:1px solid #fff;
	}
.float_list .erjispan{
	color:#ff8800;
	background-color:#fff;
	height:43px;
	line-height:40px;
	margin-top:2px;
	}
.float_lists{
	width:493px;
	height:270px;
	border-bottom:1px solid #ff8800;
	border-left:1px solid #ff8800;
	border-right:1px solid #ff8800;
	font-size:12px;
	}
.float_lists1{
	display:none;
	position:relative;
	width:495px;
	height:315px;
	}
.float_lists1 span{
	display:inline-block;
	text-align:right;
	padding-right:10px;
	line-height:24px;
	width:60px;
	}	
.float_list1_1,.float_list1_2,.float_list1_3,.float_list1_4,.float_list1_5,.float_list1_6,.float_list1_7{
	height:52px;
   /* padding-top: 9px 0 9px 0;*/

	}
.float_list1_1 input,.float_list1_2 input{
	display:inline-block;
	width:12px;
	height:12px;
	margin-right:6px;
	}
.float_input-1{
	margin-left:37px;
	}
.float_input-2{
	margin-left:12px;
	}
.float_list1_6{
	width:492px;
	}
.float_list1_3 div,.float_list1_4 div,.float_list1_6 div{
	float:left;
	}
.float_list1_3 input,.float_list1_4 input,.float_list1_6 input,.float_list1_7 input,.float_list1_6 select{
	height:32px;
	display:inline-block;
	border:1px #a9a9a9 solid;
	line-height:32px;
	padding-left:15px;
	color:#a9a9a9;
	}

.float_list1_3 input,.float_list1_4 input{
	width:150px;
	}
.float_list1_4 img,.float_list1_4 p{
	display:inline-block;
	}
.float_list1_4 img{
	position:absolute;
	right:8px;
	top:10px;
	}
.float_list1_4 p{
	position:relative;
	}
.float_list1_5 input{
	background:url(../images/seach1.png) no-repeat 30px 10px;
	vertical-align:middle;
	}
.float_list1_5{
	margin-top:10px;
	margin-left:360px;
	width:117px;
	height:33px;
	line-height:33px;
	color:#fff;
	font-size:14px;
	position:relative;
	cursor:pointer;
	background-color:#008cd6;}
.float_list1_5 img,.float_list1_5 p{
	display:block;
	position:absolute;
	}
.float_list1_5 img{
	top:10px;
	left:30px;
	}
.float_list1_5 p{
	top:0px;
	right:30px;
	}
.float_list1_3 img,.float_list1_6 img{
	display:inline-block;
	position:absolute;
	top:14px;
	right:20px;
	}

.float_list1_6 input,.float_list1_3 input,.float_list1_4 input,.float_list1_7 input,.float_list1_6 select{
	border-radius:4px 4px 4px 4px;
	}
.float_list1_6 input,.float_list1_6 select{
	width:180px;
	height:32px;
	line-height:32px;
	margin-right:4px;
	vertical-align:middle;
	}
.float_list1_6 .float_jc{
	position:relative;
	}

.float_list1_7 input{
	width:390px;
	}
.float_input5 select{
	display:inline-block;
	border-radius:4px 4px 4px 4px;
	border:1px #a9a9a9 solid;
	height:32px;
	width:87px;
	margin-left:32px;
	vertical-align:middle;
	}
.good_lable{margin-top: 5px;}
/*悬浮搜索结束*/
/*当地人推荐*/
.Recommend{
	width:1200px;
	margin:auto;
	margin-top:20px;
	}
.Recommend1,.Recommend2{
	width:1200px;
	height:71px;
	}
.Recommend2{
	margin-top:16px;
	}
.Recommend1 span,.Recommend1 a,.Recommend2 span,.Recommend2 a{
	display:block;
	float:left;
	}
.Recommend1 span,.Recommend2 span,.Recommend2 span img,.Recommend1 span img{
	width:72px;
	height:71px;
	}
.Recommend1 a,.Recommend2 a,.Recommend2 a img,.Recommend1 a img{
	width:280px;
	height:69px;
	}
.Recommend1 a{border:1px solid #ff8800;}
.Recommend2 a{
	border:1px solid #5caae5;
	}
/*推荐end*/
/*当地人广场*/
/*超级私人游*/
.square{
	width:100%;
	background-color:#f8f8f8;
	margin-top:26px;
	}
.square1{

	background-color: #f8f8f8;
	}
/*超级私人游tiltle*/
.square_left,.square_right{
	float:left;
	}
.square_right{
	margin-top:41px;
	}
.square_right,.square_right img{
	width:274px;
	height:229px;
	}
.square_title{
	border-bottom:3px solid #ff8800;
	overflow:hidden;
	width:892px;
	}
.square_titleleft,.square_titlemid{
	float:left;
	}
.square_titleleft{
	overflow:hidden;
	width:235px;
	}
.square_titleleft img,.square_titleleft span{
	display:block;
	float:left;
	}
.square_titleleft img{
	margin:7px 7px 0 0;
	width:29px;
	height:25px;
	}
.square_titleleft span{
	font-size:22px;
	color:#333;
	line-height:38px;
	}
.square_titlemid{
	overflow:hidden;
	width:650px;
	}
.square_titlemid li{
	float:left;
	height:38px;
	line-height:30px;
	
	color:#ff8800;
	cursor:pointer;
	position:relative;
	}
.square_titlemid span{
	padding:0 23px 0 23px;
	font-size:14px;
	}
.square_titlemid i{
	display:block;
	width:10px;
	height:5px;
	background:url(../images/image.png) no-repeat -48px -269px;
	position:absolute;
	bottom:-1px;
	left:50%;
	margin-left:-5px;
	}
.square_titlemid .square_dynamic{
	background-position:-46px -278px;
	}
.square_dynamic2{
	font-weight:bold;
	}
/*title   end*/
/*广场内容*/
.square_content{
	width:926px;
	height:222px;
	margin-top:7px;
	}
.square_contentscr{
	width:926px;
	}
/*新人*/

/*新人 end*/
/*路线*/

/*路线 end*/
/*需求*/
.square_content1_5 .shang i{
	font-size:10px;
	}
.square_content1_5 .shang a{
	width:96px;
	text-align:right;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
.square_content1_6 .square_conbeihai{
	width:195px;
	color:#333;
	}
/*需求 end*/
/*新贴士*/
.square_content1_3 h3,.s_c_p_1{
	color:#333;
    margin-left:8px;
	width:260px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
.square_content1_3 h3{
	font-size:14px;
	height:26px;
	line-height:26px;
	font-weight:normal;
	}
.s_c_p_1,.square_content1_3 span{
	font-size:12px;
	height:20px;
	line-height:20px;
	}

.square_content1_3 span{
	display:block;
	float:right;
	margin-bottom:2px;
	}
.square_content1_3 span .w_m,.square_content1_3 span.square_qi{
	color:#ff8800;
	}
.square_content1_3 span.square_qi{
	height:20px;
	line-height:20px;
	margin-bottom:8px;
	margin-top:14px;
	}
.square_content1_3 .square_qi strong{
	font-size:20px;
	
	}
/*新贴士 end*/
/*新导游*/
.square_contentscr1{
	overflow:hidden;
	height:220px;
	}
.square_content1_1{
	width:274px;
	height:216px;
	margin-right:34px;
	position:relative;
	background-color:#fff;
	float:left;
	box-shadow:3px 3px 3px #ccc;
	-moz-box-shadow:3px 3px 3px #ccc;
    -webkit-box-shadow:3px 3px 3px #ccc;
	}
.square_content1_1 .square_contentimg img{
	width:54px;
	height:54px;
	display:block;
	border-radius:50%;
	}
.square_content1_1 .square_contentimg{
	width:54px;
	height:54px;
	border:2px solid #fff;
	border-radius:50%;
	position:absolute;
	top:132px;
	left:10px;
	overflow:hidden;
	}
.square_content1_1 .square_contentimg a{display:block;width:54px;
	height:54px;}
.square_content1_2{
	width:274px;
	height:142px;
	overflow:hidden;
	position:relative;
	}
.square_content1_2 img{
	width:274px;
	height:142px;
	}
.square_content1_shaow{
	width:274px;
	height:142px;
	background:url(../images/bg.png);
	position:absolute;
	left:0;
	top:116px;
	}
.square_content1_shaow span{
	display:block;
	font-size:12px;
	line-height:26px;
	color:#fff;
	float:right;
	margin-right:6px;
	}
.square_content1_3{
	width:274px;
	overflow:hidden;
	}
.square_content1_4{
	width:274px;
	overflow:hidden;
	background-color:#fff;
	}
.square_content1_5{
	margin-top:7px;
	overflow:hidden;
	}
.square_content1_5 .fon_sp{
	display:inline-block;
	width:26px;
	margin-top: 4px;
	}
.square_content1_5 a,.square_content1_5 span{
	display:block;
	float:right;
	}
.square_content1_5 .wm,.square_content1_5 span a{
	line-height:28px;
	height:28px;
	}
.square_content1_5 span a{
	font-size:12px;
	color:#ccc;
	}
.square_content1_5 span{
	overflow:hidden;
	}
.square_content1_5 a:hover{
	color:#ff8800;
	}
.square_content1_5 .wm{
	font-size:14px;
	color:#008cd6;
	margin-right:8px;
	width:90px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
.square_content1_5 i{
	display:inline-block;
	margin-right:2px;
	font-size:16px;
	}
.square_content1_6{
	overflow:hidden;
	margin-bottom:7px;
	}
.square_content1_6 p{
	display:block;
	float:right;
	font-size:12px;
	color:#ff8800;
	margin-right:8px;
	width:200px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
.square_content1_6 .square_contentp{
	line-height:24px;
	height:24px;
	}
/*导游  end*/
/*司机  end*/
.square_content1_6 div{
	font-size:12px;
	color:#ff8800;
	width:98px;
	margin-right:8px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
.square_content1_6 .you{
	text-align:right;
	line-height:24px;
	height:24px;
	}
.square_content1_6 strong{
	font-size:20px;
	}
/*司机  end*/
/*广场内容end*/
/*当地人广场end*/
/*导游之星*/
.Guide,.course{
	background-color: #f8f8f8;
	overflow:hidden;
	}
.Guide img,.course img{
	display:block;
	}
.Guide_left{
	float:left;
	width:892px;
	}
.Guide_title,.integrity_title,.course_title,.driver_title{
	width:892px;
	overflow:hidden;
	}
.Guide_title{
	border-bottom:3px solid #51d3b6;
	}
.integrity_title{
	border-bottom:3px solid #ed90b7;
	}
.course_title{
	border-bottom:3px solid #8572b0;
	}
.driver_title{
	border-bottom:3px solid #51a4d3;
	}
.Guide_titleleft{
	overflow:hidden;
	white-space:nowrap;
	width:350px;
	}
.more1,.more2,.more3,.more4{
	margin-top:10px;
	height:28px;
	line-height:28px;
	}
.more1 a,.more2 a,.more3 a,.more4 a{
	color:#666;
	font-size:14px;
	}
.more1 a:hover{
	color:#51d3b6;
	}
.more2 a:hover{
	color:#51a4d3;
	}
.more3 a:hover{
	color:#8572b0;
	}
.more4 a:hover{
	color:#ed90b7;
	}
.Guide_titleleft img,.Guide_titleleft span{
	display:block;
	float:left;
	}
.Guide_titleleft img{
	margin:7px 7px 0 0;
	width:31px;
	height:25px;
	}
.Guide_titleleft span{
	font-size:22px;
	color:#333;
	line-height:38px;
	width:310px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
/*title   end*/
/*内容*/
.Guide_content{
	width:924px;
	height:455px;
	margin-top:7px;
	}
.Guide_content1{
	width:274px;
	height:450px;
	background-color:#fff;
	margin-right:34px;
	float:left;
	overflow:hidden;
	box-shadow:3px 3px 3px #ccc;
    -moz-box-shadow:3px 3px 3px #ccc;
    -webkit-box-shadow:3px 3px 3px #ccc;
	}
.Guide_content1 a{
	display:block;
	}
.Guide_content1 a img{
	width:234px;
	height:153px;
	}
.Guide_content1 dl{
	width:234px;
	height:411px;
	margin:20px 0 0 20px;	}
.Guide_content1 dt{
	overflow:hidden;
	height:22px;
	line-height:22px;
	margin-top:16px;
	}
.Guide_content1 dt a,.Guide_content1 dt img,.Guide_content1 dt font,.Guide_content1 dt span{
	display:block;
	}
.Guide_content1 dt a{
	float:left;
	color:#333;
	font-size:14px;
	height:26px;
	width:140px;
	}
.Guide_content1 dt font{
	width:96px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
.Guide_content1 dt img{
	float:right;
	margin-top:4px;
	width:84px;
	height:16px;
	}
.Guide_content1 dt span{
	color:#d10000;
	margin-left:14px;
	}
.Guide_content1 dd{
	margin-top:14px;
	border-bottom:1px solid #d5d5d5;
	}
.Guide_content1 dd p{
	font-size:12px;
	color:#575656;
	line-height:22px;
	width:234px;
	overflow:hidden;
	}
.Guide_content1 dd .hid{
	text-overflow:ellipsis;
	white-space:nowrap;
	}
.Guide_contentp{
	height:40px;
	margin-bottom:14px;
	}
.Guide_content1 p i{
	color:#ff8a00;
	font-size:20px;
	font-weight:bold;
	padding:0 5px 0 5px;
	
	}
.Guide_contentp1{
	margin-top:10px;
	}
.Guide_contentp2{
	overflow:hidden;
	line-height:20px;
	margin:30px 0 4px 0;
	}
.Guide_contentp2 span{
	display:inline-block;
	}
.Guide_contentp3{
	margin-right:32px;
	}
.Guide_contentp3 i{
	color:#ff5f63;
	}
.Guide_contentp3 a{
	display:inline-block;
	}
.Guide_contentp3 img{
	display:inline-block;
	margin-right:8px;
	}
.Guide_contentp3,.Guide_contentp4{
	float:right;
	}
.Guide_contentp5{
	color:#ff5f63;
	margin-left:8px;
	}
.Guide_content1 .color{
     color:#ff5f63;
	}
/*内容  end*/
.Guide_right{
	float:right;
	width:274px;
	}
.Guide_righttitle{
	border-bottom:3px solid #e1e1e1;
	width:274px;
	}
.Guide_titleright span{
	font-size:22px;
	color:#666;
	line-height:38px;
	display:block;
	width:260px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
.Guide_contentright{
	width:274px;
	height:450px;
	margin-top:7px;
	overflow:hidden;
	background-color:#fff;
	}
.Guide_contentrightscr,.driver_contentrightscr,.integrity_contentrightscr{
	width:274px;
	}
.Guide_contentrightscr1,.driver_contentrightscr1{
	width:274px;
	height:93px;
	margin:10px 0 20px 0;
	}
.Guide_rightscr1-1,.Guide_rightscr1-2{
	float:left;
	}
.Guide_rightscr1-1 a img,.Guide_rightscr1-1 a{
	width:70px;
	height:70px;
	border-radius:50%;
	}
.Guide_rightscr1-1 a{
	display:block;
	overflow:hidden;
	margin-right:20px;
	}
.Guide_rightscr1-2 a{
	color:#404040;
	font-size:18px;
	line-height:30px;
	display:block;
	width:176px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	}
.Guide_rightscr1-2 p{
	width:180px;
	height:60px;
	font-size:12px;
	line-height:20px;
	overflow:hidden;
	}
/*导游之星*/
/*驾驶员*/
/*left*/

/*right*/


/*驾驶员end*/
/*当地人推荐热门路线*/
/*left*/
.course{
	height:631px;
	}
.course_content{
	width:924px;
	height:582px;
	margin-top:7px;
	}
.course_content1{
	width:582px;
	height:274px;
	float:left;
	position:relative;
	overflow:hidden;
	margin:0 34px 34px 0;
	}
.course_shadow{
	width:100%;
	height:274px;
	background:url(../images/bg.png);
	position:absolute;
	left:0;
	top:234px;
	}
.course_shadow span{
	display:block;
	color:#fff;
	margin-left:15px;
	font-size:18px;
	line-height:40px;
	}
.course_content2{
	width:274px;
	height:274px;
	float:left;
	position:relative;
	overflow:hidden;
	margin:0 34px 34px 0;
	}
/*right*/
.course_contentright{
	width:274px;
	overflow:hidden;
	}
.course_shadowright{
	width:100%;
	height:138px;
	background:url(../images/bg.png);
	position:absolute;
	left:0;
	top:110px;
	}
.course_shadowright span{
	display:block;
	color:#fff;
	margin-left:15px;
	font-size:14px;
	line-height:28px;
	}
.course_content5,.course_content6{
	width:132px;
	height:138px;
	float:left;
	position:relative;
	overflow:hidden;
	}
.course_content6{
	margin-top:8px;
	}
.course_content5{
	margin:8px 10px 0 0; 
	}
/*当地人推荐热门路线end*/
/*诚信商家*/
.integrity{
	width:1200px;
	margin:auto;
	margin-top:50px;
	overflow:hidden;
	}
.integrity img{
	display:block;
	}
.integrity_content{
	width:924px;
	height:450px;
	margin-top:7px;
	}
.integrity_content1{
	width:274px;
	height:215px;
	float:left;
	background-color:#fff;
	box-shadow:3px 3px 3px #ccc;
	-moz-box-shadow:3px 3px 3px #ccc;
    -webkit-box-shadow:3px 3px 3px #ccc;
	}
.integrity_content1{
	margin:0 34px 13px 0;
	}
.integrity_content2{
	width:274px;
	height:142px;
	position:relative;
	overflow:hidden;
	
	}
.integrity_content1 h3 a,.integrity_content3 h3 a{
	font-size:14px;
	display:block;
	font-weight:bold;
	line-height:26px;
	margin-left:8px;
	width:258px;
	height:26px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#333;
	}
.integrity_content1 h3 a:hover{
	color:#ed90b7;
	}
.integrity_content1 p,.integrity_content3 p{
	font-size:12px;
	line-height:20px;
	margin-left:8px;
	width:258px;
	height:40px;
	color:#333;
	overflow:hidden;
	}
/*阴影*/
.integrity_shadowright{
	width:100%;
	height:142px;
	background:url(../images/bg.png);
	position:absolute;
	left:0;
	top:114px;
	}
.integrity_shadowright span{
	display:block;
	float:right;
	color:#fff;
	margin-right:15px;
	font-size:14px;
	line-height:28px;
	}
/*右边*/


.integrity_contentrightscr1{
	width:274px;
	height:55px;
	margin-bottom:10px;
	}
.integrity_rightscr1-1,.integrity_rightscr1-1 img{
	width:132px;
	height:55px;
	float:left;
	}
.integrity_rightscr1-2{
	float:left;
	margin-left:10px;
	width:125px;
	overflow:hidden;
	}
.integrity_rightscr1-2 a,.integrity_rightscr1-2 p{
	font-size:12px;
	line-height:24px;
	}
.integrity_rightscr1-2 a{
	color:#333;
	font-weight:bold;
	}
.integrity_rightscr1-2 p{
	color:#fea152;
	}
.integrity_rightscr1-2 strong{
	font-size:22px;
	}
/*诚信商家end*/

