@charset "utf-8";
/* CSS Document */
@import url('header.css');
input{border:none;}
img{ display:inline-block;}
h1,h2,h3,h5{ font-weight:normal}
.main{width:100%; background:#f8f8f8;}
/*内容*/

/*左边*/
.route_con .route_left{ width:895px;background:#fff}
.route_banner{ width:400px; height:320px;}
.route_ban_box{width:400px;height:265px;}
.tj-text p{ width:400px; line-height:28px; height:28px; overflow:hidden; white-space:nowrap}
.tj-text p em{ color:#f39600; font-style:normal}
.summary1{ width:400px; line-height:28px;}
.summary{ width:400px; line-height:28px;}
.tj-title h2{ font-size:24px; color:#404040;width:360px; line-height:28px; font-weight:normal;}
.ui-select{width:436px;}
.date-cal{width:316px;}
.ui-select li.li-seled{background-color:#ccc; }

.ui-select li a{ height:32px; line-height:32px; color:#333; margin:1px 1px; border:1px solid #fff; background:#fff; }
.ui-select li.li-seled:hover{background-color:#0e6eb8;}
.ui-select li a:hover{ color:#0e6eb8; border-color:#0e6eb8}

.ui-select li:hover .li-seled{ background-color:red !important;}
.ui-select li i{ width:14px; height:14px; bottom:2px; right:2px; background:url(../images/image1.png) no-repeat -5px -215px; }
.date_s_i{background:url(../images/icon_1.png) no-repeat -612px -255px; width: 12px ;height: 12px;right: 5px;top: 5px;}
.ui-select li.li_s{background:#0e6eb8;}
.ui-select li a.li_s_a{border: 1px solid #0e6eb8;}
/*日历*/
.date_body .date_ul li.date_ul_li{ height:40px; line-height:40px; color:#333;}
.date_body .date_ul li.date_ul_li:hover{ color:#f9645d;}
.date_body .date_ul li.date_l{color:#f9645d;}
.week{ height:20px; background-color:#f6f5f3;width:314px;}
.week li{ width:44px; line-height:20px;}
.date_list ul li.date_list_l{ width:44px; height:44px;}
.colo_f9{color:#f9644e;}
.date_list .have p{ color:#4eadf2;}
.date_list .have b{ width:42px; height:42px; border:2px solid #0e6eb8;right:-1px; top:-1px;display:none;}
.date_list .have i{width:14px; height:14px;background:url(../images/image1.png) no-repeat -5px -215px; right:1px; bottom:0;display:none;}
.date_list .have:hover b{ display:block;}
/**/
.add_rr_a_p{width: 200px;height:50px;background:#fff; top: -40px;left: 150px;}
/*数量*/
.number .left{ width:250px;}
.item span{ line-height:16px;}
.item span.price{ color:#f39600;}
.item a{ width:16px; height:16px;background-color:#f3f3f3;}
.item a i.minus_i{ width:12px; height:2px; background:url(../images/image1.png) no-repeat -9px -245px; margin:7px 0 0 2px;}
.item a i.plus_i{width:12px; height:12px;background:url(../images/image1.png) no-repeat -9px -263px;margin:2px 0 0 2px;}
.item p{width:30px; height:16px;}
.item p input{ width:24px; height:12px; line-height:12px;margin:0px 0 0 0px;}
/*剩余*/
.remain span{ color:#f39600}
.remain { margin-bottom:4px;}
.total{width:420px;}
.total .room_price strong{ font-size:30px;}
.total .room_price i{ width:15px; height:15px;background:url(../images/image1.png) no-repeat -28px -215px; left:220px; top:20px;}
/*加入购物车*/
.tian{background: #fff;right: 10px;top: -30px;}
.tj-action a.purchase{ width:92px; height:32px; background:#4eadf2; line-height:32px;}
.tj-action a.trolley{ width:90px; height:30px; border:1px dotted #f9644e; line-height:30px; color:#f9644e}
.trolley_i{width: 17px;height: 16px;background: url("../images/image2.png") no-repeat -203px -218px}
.cart_link td{ vertical-align:middle}
.cart_ul{height: 50px;background: #f8f8f8;}
.cart_ul li{line-height: 50px;}
.cart_ul li:hover{background: #f39600; color: #fff;}
.cart_ul li.c{background: #f39600; color: #fff;}
.cart_th{width: 200px;background: #f8f8f8; color: #666666}
.cart_box .cart_link .s-title{ width:250px;}
.ding{width: 80px;background: #f39600; height: 24px; line-height: 24px;}
.cart_box .cart_link{ border-bottom:1px dotted #ccc;}
.cart_link:hover{background: #f8f8f8;}
.cart_box .cart_link .cart_num{ width:60px;}
.cart_box .cart_link .cart_right{ width:165px; line-height:16px;}
.cart_box .cart_link .cart_right .cart_r_span{ color:#aaa}
.cart_box .cart_link .cart_right i{ width:20px; height:20px;background:url(../images/image1.png) no-repeat -141px -37px; margin:-2px 0 0 2px;}
/*亮点*/
.pos-btm{ left:-420px; bottom:20px;}
.pos-btm .feature dd{ width:400px;}
.pos-btm .feature i{ width:10px; height:13px;background:url(../images/image1.png) no-repeat -146px -68px; display:inline-block;}
.bs_collect a i{display:inline-block;width:25px; height:25px;}
.bs_collect a i.lect{ background:url(../images/image1.png) no-repeat -139px -90px;}
.bs_collect a i.lect2{background:url(../images/image1.png) no-repeat -139px -122px;}
.bs_collect a i.lect3{background:url(../images/image1.png) no-repeat -139px -153px;}
.bs_collect a span{ line-height:25px;}
/*产品tab*/
.tab_div.fix{position: fixed;top:0;left:50%;margin-left:-600px;z-index:200;}
.tab_div1.fix{position: fixed;top:0;left:50%;margin-left:-600px;z-index:200;}
.fix1{position: fixed;top:0;left:50%;margin-left:315px;z-index:200;}
.fix2{position: fixed;top:50px;left:50%;margin-left:-580px; clear:both;z-index:201;}
.tab_con{ width:895px; background:#f8f8f8;}
.tab_con_ul{ border-bottom:2px solid #0e6eb8;}
.tab_con_ul li.tab_con_li{ width:104px; height:42px; line-height:42px; color:#666;}
.tab_con_ul li.tab_con_li:hover{ color:#f39600;}
.tab_con_ul li.tab_bg{ border-color:#0e6eb8; background:#0e6eb8; color:#fff;}
/*产品详情*/
.tab_detail{ background:#fff;}
.tab_detail h2,.journey h2,.items h2{ height:42px; line-height:42px;}
.tab_detail h2 i,.journey h2 i,.items h2 i{ width:100%; height:2px; background:#f39600; left:0; bottom:-2px;}
.tab_detail_h,.journey{ border-bottom:2px solid #ddd;}
.summary_ul li.summary_li{ width:282px; height:48px;}
.summary_ul li i.summary_i{ width:20px; height:20px;background:url(../images/image1.png) no-repeat -136px -189px; margin:14px 7px 0 10px;}
.summary_ul li i.summary_i1{ width:20px; height:20px;background:url(../images/image1.png) no-repeat -136px -218px;margin:14px 7px 0 10px;}
.summary_ul li i.summary_i2{ width:20px; height:20px;background:url(../images/image1.png) no-repeat -136px -245px;margin:14px 7px 0 10px;}
.summary_ul li i.summary_i3{ width:20px; height:20px;background:url(../images/image1.png) no-repeat -206px -274px;margin:14px 7px 0 10px;}
.summary_ul li i.summary_i4{ width:20px; height:20px;background:url(../images/image1.png) no-repeat -172px -273px;margin:14px 7px 0 10px;}
.summary_ul li i.summary_i5{ width:20px; height:20px;background:url(../images/image1.png) no-repeat -135px -273px;margin:14px 7px 0 10px;}
.summary_ul li.summary_li dt,.summary_ul li.summary_li dd{ width:235px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
/*行程介绍*/
.journey_map{ width:855px; height:180px; background:#f39600;}
.journey_map_feature{ bottom:0px; left:50%; margin-left:-105px;}
.journey_map_feature a{ width:100px; height:25px; background:#0066cc; line-height:25px;}
.journey_map_feature a:hover{background:#f39600;}
/*天数list*/
.fate_detail li{ width:80px; height:35px; background:#dbdbdb; line-height:35px;}
.fate_detail li.first_c{ background:#f39600;}
/*天数*/
.travelctrip{ width:696px; border-left:1px solid #ccc; margin-top:60px;}
.day_list .day_list_p p{ line-height:24px;}
.day_list_{width:320px; height:268px;}
.day_list_pic a{ width:320px; height:240px;}
.day_list_pic a span{ line-height:28px;}
.explain{ background:#f5f5f5;}
.explain dl dt{ font-weight:bold;}
.day_list h4 i{ width:38px; height:44px;background:url(../images/image1.png) no-repeat -241px -9px; left:-50px; top:-10px; font-style:normal; line-height:40px;}
.day_list .day_list_p i{ width:18px; height:20px;background:url(../images/image1.png) no-repeat -239px -66px; left:-38px; top:0px;}
.day_list .explain i{ width:21px; height:21px;background:url(../images/image1.png) no-repeat -262px -66px; left:-40px; top:0px;}
.travelctrip i.travel_i{ width:10px; height:10px; border-radius:50%; background:#ccc; left:-5px; bottom:0;}
/*费用说明*/
.items_dl dt{font-weight: bold;}
.items_dl dd ul.items_u{list-style-type:square;}
/*评论*/
.s_id_con span{color:#f39600;}
.mention_f{position:relative;width: 163px;height: 70px;background-color: #e5e5e5;margin-right: 10px;font-size: 14px;line-height: 20px;cursor: pointer;}
.mention_f:hover{background-color: #f39600; }
.mention_f:hover strong{color: #fff;}
.mention_f:hover p{color: #fff;}
.mention_f:hover p span{color: #fff;}
.mention_f i{display: block; width: 20px;height: 20px;background-color: #f39600;text-align: center;color: #fff;font-style: normal;margin: 14px 0 0 14px;}
.mention_f strong,.mention_f p{position: absolute;width: 118px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.mention_f strong{left: 44px;top: 14px;color: #666;font-weight: normal; }
.mention_f p{left: 44px;top: 38px;color: #999;}
.mention_f p span{color: #f39600;}
.f_id_ .c_discuss{width: 855px;}
.f_id_ .c_dis .c_dis_f{width: 855px;border-bottom: 1px solid #ccc;padding: 20px 0 20px 0;}
.f_id_ .c_dis_f .c_dis_img,.f_id_ .c_dis_f .c_dis_img img{width: 48px;height: 48px;display: block;}
.f_id_ .c_dis_f .c_dis_con{width: 790px;}
.f_id_ .c_dis_f .c_dis_con .c_dis_c_t a,.f_id_ .c_dis_f .c_dis_con .c_dis_c_t span,.f_id_ .c_dis_f .c_dis_con .c_dis_c_t i{display:block;}
.f_id_ .c_dis_f .c_dis_con .c_dis_c_t a{color: #f39600; float: left;}
.f_id_ .c_dis_f .c_dis_con .c_dis_c_t span.rating-star{float: left;width: 102px;height: 18px;background: url(../images/image1.png) no-repeat -5px -30px;margin:2px 0 0 10px;}
.f_id_ .c_dis_f .c_dis_con .c_dis_c_t span.star{ width:81px;height: 18px;background: url(../images/image1.png) no-repeat -5px -4px;}
.f_id_ .c_dis_f .c_dis_con .c_dis_c_t a.zan{float: right;height: 28px;}
.f_id_ .c_dis_f .c_dis_con .c_dis_c_t a.zan span{color: #666;font-size: 20px;line-height: 28px;display: inline-block;height: 28px;margin: 0 4px 0 4px;}
.f_id_ .c_dis_f .c_dis_con .c_dis_c_t i{ width: 28px;height: 28px;background: url(../images/image.png) no-repeat -198px -266px;display: inline-block;}
.f_id_ .c_dis_f .c_dis_con p{width: 790px;font-size: 16px;color: #666;line-height: 24px;margin: 8px 0 8px 0;}
.f_id_ .c_dis_f .c_dis_pic a,.f_id_ .c_dis_f .c_dis_pic a img.c_{display: block;width: 184px;height: 184px;}
.f_id_ .c_dis_f .c_dis_pic a{margin-right: 10px;float: left; position:relative;}
.c_dis_f .c_dis_pic a span,.c_dis_f .c_dis_pic a span img{ display:block; width:300px; height:300px; z-index:2; }
.c_dis_f .c_dis_pic a span{ position:absolute; left:100px; top:100px; display:none; z-index:100}
.f_id_ .c_dis_f .c_foot{width: 790px;font-size: 12px;line-height: 24px;margin-top: 6px;}
.f_id_ .c_dis_f .c_foot span,.f_id_ .c_dis_f .c_foot a{display: block;}
.f_id_ .c_dis_f .c_foot span{float: left; color: #999;}
.f_id_ .c_dis_f .c_foot span.from{margin-left: 20px;}
.f_id_ .c_dis_f .c_foot span.from i{display: inline-block;width: 14px;height: 14px;background: url(../images/image.png) no-repeat -198px -243px;position: absolute;left: -16px;top: 6px;}
.f_id_ .c_dis_f .c_foot span.from a{color: #f39600;display: inline-block;margin-left: 44px; position: relative;}
.f_id_ .c_dis_f .c_foot a.btn-comment{float: right;color: #f39600; height: 22px;line-height: 22px;position: relative;}
.f_id_ .c_dis_f .c_foot .btn-comment i{display:inline-block;width: 22px;height: 22px;background: url(../images/image.png) no-repeat -257px -238px;position: absolute;right: 30px;top: 0;}
.c_com{ width:1200px; margin:0 auto}
.c_com .f_id_{ width:895px;}
.pl_a{ width:790px; display:none;}
.text1{border:1px solid #ccc !important;width:98%; background:#fff; margin:0 auto !important; display:block; color:#666; line-height:30px;  font-size:12px;}
/*按钮*/
.all_bottom{margin-top:20px; float:right;font-size: 12px;}
.all_bottom ul{ overflow:hidden; float:left; }
.all_bottom li,.all_bottom span{ display:block; float:left; padding:0 8px 0 8px; height:24px; line-height:24px; border-radius:4px 4px 4px 4px; font-size:12px; margin-right:5px; color:#666; cursor:pointer;}
.all_bottom span{ background-color:#fc9600; color:#fff;}
.all_bottom li.all_f{ background-color:#fc9600; color:#fff;}
.all_bottom li:hover{ background-color:#efefef;}
/*左边end*/
/*右边*/
.route_right{ width:285px;}
.route_right_q,.visit,.related,.format,.literature,.guide{ background: #fff;}
.route_right_q h3,.visit h3,.related h3,.format h3{ width: 285px; word-wrap: inherit; overflow: hidden;}
.q_down a.down_a{width: 100px;height: 144px;}
.q_down p a{width: 135px;line-height: 22px;height: 110px;overflow: hidden;}
.q_down a.down_btn{width: 80px;height: 24px;line-height: 24px;background: #4fba76; bottom: 0;right: 55px;}
.route_right_q li.down_li{width: 120px;}
.route_right_q li.down_li a{ color:#666;}
.route_right_q li.down_li a:hover{ color:#f39600;}
/*最近访问*/
.visit_dl{ width:253px}
.visit_dl .visit_dt_a{ width:253px; height:142px;}
.visit_dl .visit_dd_a{ width:243px; line-height:20px; height:40px; overflow:hidden; color:#666;}
.visit_dl .visit_dd_a:hover{ color:#f39600;}
.visit_dl dd p span{ font-weight:bold}
/*相关推荐*/
.related_dl dt a{ width:88px; height:58px;}
.related_dd a{ width:162px; line-height:18px; height:36px; overflow:hidden; color:#666;}
.related_dd a:hover{ color:#f39600;}
.related_dd p{ width:80px; white-space:nowrap; overflow:hidden;}
/*产品信息*/
.format_con{border-top:1px dotted #ccc; border-bottom:1px dotted #ccc;}
.format_span{ width:45px;}
.format_p strong{ font-size:28px; display:inline-block; margin-top:-15px}
.format_span1{ text-decoration:line-through}
.format_a { width:246px; height:48px; background:#4eadf2; line-height:48px;}
/*打分*/
.s_result{padding:6px 0 0 5px;}
.star_ul,.star_ul_1,.star_ul_2,.star_ul_3{background:url('../images/star.png') no-repeat 0 -150px;width:132px;z-index:10;position:relative;height:25px;}
.star_ul li,.star_ul_1 li,.star_ul_2 li,.star_ul_3 li{float:left;margin-right:1px;width:25px;height:25px;}
.star_ul li a,.star_ul_1 li a,.star_ul_2 li a,.star_ul_3 li a{display:block;height:25px;position:absolute;left:0;top:0;text-indent:-999em; cursor:pointer;}
.active-star{background:url('../images/star.png') no-repeat;}
.one-star{width:25px;background-position:0 -120px;z-index:50;}
.two-star{width:51px;background-position:0 -90px;z-index:40;}
.three-star{width:79px;background-position:0 -60px;z-index:30;}
.four-star{width:105px;background-position:0 -30px;z-index:20;}
.five-star{width:129px;margin-right:0;background-position:0 0;z-index:10;}

.dafen{ width:855px; margin:0 auto; overflow:hidden;}
.df_l{ width:105px; line-height:20px;}
.df_m{ margin-left:15px; display:block;}
.df_r{ line-height:20px; margin-left:15px;}
.df_r1{margin-left:15px;width:730px;height:100px;}
.df_r1 textarea { width:726px;height:96px;overflow: auto;background:#f4f4f4;border: none;color: 999;font-size: 14px;line-height: 28px;}
.df_in{ width:720px; border:none; background:#f4f4f4; text-indent:20px; line-height:22px; }
.df_p1{ margin-left:117px; line-height:30px;}
.df_a{ width:122px; display:block; float:left; margin-left:125px; margin-top:-35px;}
.df_a strong{display: inline-block;width: 120px; height: 120px;color: #d6d6d6;border: 1px solid #f39600;margin: 40px 0 0 -110px;cursor: pointer;}
.df_a strong b{width: 44px;height: 44px; display: inline-block;background:url('../images/image1.png') no-repeat -13px -103px;margin: 38px auto 0 38px;}
.df_a strong:hover{background-color: #f39600;}
.df_a strong:hover b{background: url('../images/image1.png') no-repeat -85px -103px;}
.submit_a{ width:136px; line-height:36px; height:36px; background:#f39600; border-radius:5px; margin-left:118px; display:block;}
/*右边end*/
/*内容end*/
/*     门票样式       css*/
.pro_de_dl .pro_de_dt{ width:70px; font-weight:bold}
.pro_de_dl .pro_de_dd{ width:784px; }
.ticket_map{ width:856px; height:434px; background:#f39600;}
/*当地人推荐*/
.char_con_f{ width:856px;}
.char_dl{height: 280px; background:#f0f0f0; width:272px;}
.char_dl dt{ width:272px; height:182px}
.char_dl dd{ line-height: 22px;width:265px;}
.char_dl dd p span{color:#ff5f63;}
.char_dl dd a{ line-height:28px;overflow:hidden;}
.char_dl dd p,.char_dl dd .ping_lun,.char_dl dd.ping_lun1{width:265px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.over_qj666{ width: 72px; bottom: 0; left: 0;}
.over_qj_pub{ height: 36px;overflow: hidden;  line-height: 36px;}
.over_qj99_two{ left: 72px; bottom: 0; background-color: #f39600; display: block; width: 93px;}
.mayi{background:url(../images/icon_car.png) no-repeat -9px -715px; width:18px; height:18px;display: inline-block; margin-bottom: -4px;}
.mayi_col,.manyi{ color:#848484;}
.manyi{margin-top: 3px;}
.manyi_100{ color:#ff5f63; padding:0 5px; line-height: 18px;}
.char_ul span{background-color:#f39600; bottom:-2px; left:0; width:100%; height:2px; margin-top:50px; display:none}
.char_div{ margin-top:22px;}
.char_ul span.block{display: block;}
/*右侧  游记*/
.literature h3,.guide h3{ width:255px;border-bottom:2px solid #f39600;}
.cen_img_p{ width:16px; height:16px; background:#F00; top:20px; left:0px; line-height:16px;}
.cen_img_sha{ width:100%; bottom:0; background-image:url('../images/bg.png'); height:30px; line-height:30px; text-indent:10px;}
.ul_li_d li{ border-bottom:1px dashed #ccc;line-height:36px; overflow:hidden;}
.li_aa{ width:228px; white-space:nowrap; height:36px; overflow:hidden}
.ul_li_d li .li_aa:hover { color:#ff9900 !important}
.li_span{ width:16px; height:16px; background:#ff9900; line-height:16px;}
.li_span1{ width:16px; height:16px; background:#999999; line-height:16px;}
.li_span2{ width:14px; height:14px; background:#fff; line-height:14px;}
/*旅游推荐*/
.new_li:hover .li_bb{color:#ff9900 !important;}
.new_li a{ width:255px;}
.li_bb{ line-height:20px; height:40px; overflow:hidden;}
.p_span1{ color:#ff6600;}
.news_li_p{ bottom:10px; right:0px;}
.p_span2{ color:#ff0000;}
/*近期热门结伴*/
.hot_men{ width:255px}
.box_hot{ height:400px; background:red;}
.hot_top{ width:255px; background:#fff; top:0; left:0; display:block;}
.hello{ width:245px !important; line-height:24px; text-align:center !important; color:#7a7a7a; display:block;}
.hello p{ width:245px; line-height:24px; height:48px; overflow:hidden}
.name{ color:#7a7a7a; top:10px; left:40px;width:210px; line-height:24px; height:24px; overflow:hidden;} 
.ppp{ color:#d10000; top:30px; left:40px;}
.span{ color:#7a7a7a; font-family:'SimSun';}
.hot_s2{width:160px; height:24px; overflow:hidden}
.hot_s{ width:90px; height:24px; overflow:hidden}
.img_i{ display:block; width:20px; height:24px; background-image:url('../images/bj.png'); top:8px; right:10px;}
.hot_li ul{margin-left:80px;}
.hot_li li.hot_li1{width:10px; background:#d8d8d8; margin-left:10px; cursor:pointer; height:10px}
.hot_li li.currentt{ background:#1badb6}
/*导游*/
.guide_t2{ width:170px;}
.guide_t2 p{ width:170px; line-height:20px; height:60px; overflow:hidden}
.guide_t a,.guide_t a img{ width:70px; height:70px; border-radius:50%;}

/*评论发表*/
.fb{ width:80px; height:30px; line-height:30px; background:#F39600; border-radius:5px;}
.img_a_a{ width:40px; height:20px; line-height:20px;}
.img_a{ width:50px;}
.img_pl{ width:730px;}
.pingl{ width:790px;}
/*线路的日历样式*/

.date-cal_r{width:436px;}
.date_body_r .date_ul li.date_ul_li{ height:40px; line-height:40px; color:#333;}
.date_body_r .date_ul li.date_ul_li:hover{ color:#f9645d;}
.date_body_r .date_ul li.date_l{color:#f9645d;}
.week_r{ height:20px; background-color:#f6f5f3;width:434px;}
.week_r li{ width:62px; line-height:20px;}
.date_list_r ul li.date_list_l{ width:61px; height:68px;}
.colo_f9{color:#f9644e;}
.date_list_r .have p{ color:#4eadf2;}
.date_list_r .have b{ width:60px; height:66px; border:2px solid #0e6eb8;right:-1px; top:-1px;display:none;}
.date_list_r .have i{width:14px; height:14px;background:url(../images/image1.png) no-repeat -5px -215px; right:1px; bottom:0;display:none;}
.date_list_r .have:hover b{ display:block;}
/*线路的日历样式 end*/