@charset "utf-8";
@import url('header.css');
h1,h2,h3,h4,h5{ font-weight:normal}

/*banner*/
#banner{ width:100%; height:400px; position:relative; margin:0}
#banner ul li.imgli{ width:100%; height:400px; position:absolute; display:none;}
#banner ul li.imgli a{ display:block; width:100%; height:400px;}
#banner  .lr_but .prev{ width:70px; height:70px; background:url(../images/ad_ctr.png) no-repeat 0 -80px; position:absolute; left:0; top:50%; margin-top:-35px; cursor:pointer}
#banner  .lr_but .next{ width:70px; height:70px; background:url(../images/ad_ctr.png) no-repeat 0 0px; position:absolute;  right:0; top:50%; margin-top:-35px;cursor:pointer}
#banner .op_pos{ position:absolute; width:753px; height:270px; top:100px; left:50%; margin-left:-375px; z-index:111}
#banner .op_pos .op_pos_l{ width:267px; height:60px; position:absolute; bottom:0px; left:68px;}
#banner .op_pos .op_pos_l a{ display:block;width:267px; height:60px; color:#fff; font-size:22px; font-weight:bold;
text-align:center; line-height:60px; }
#banner .op_pos .op_pos_r{ width:267px; height:60px; position:absolute; bottom:1px; right:68px;}
#banner .op_pos .op_pos_r a{ display:block;width:267px; height:60px; color:#fff; font-size:22px; font-weight:bold; text-align:center; line-height:60px;}
/*banner  end*/
/*浮动搜索*/
.float_search,.float_search .float_sea_con .f_s_a,.float_search .float_sea_con,.float_search .float_sea_con a.hotmit,.float_search .float_sea_con .f_s_a span{height:50px;}
.float_search .float_sea_con .f_s_a .all_search_first,.float_search .float_sea_con a.hotmit{line-height:50px;font-size:22px; }
.float_search{width:860px;right:50%;margin-right:-600px;bottom:10px}
.float_search .float_sea_con{width:860px;background-color:#fff;}
.float_search .float_sea_con .f_s_a{width:240px;border-right:1px solid #999;}
.float_search .float_sea_con .f_s_a .all_search_first{width:180px;color:#999; overflow:hidden;}
.float_search .f_s_a i{display:block;width:20px;height:10px;position:absolute;right:20px; top:20px;background:url(../images/image1.png) no-repeat -28px -154px;}
.float_search .float_sea_con .f_s_in{width:498px;}
.float_search .f_s_in input{line-height:28px;height:28px;width:460px;margin-left:34px;}
.float_search .f_s_in i{ display:block;width:14px; height:14px; background:url(../images/image1.png) no-repeat -5px -154px; left:10px; top:8px; position:absolute}
.float_search .float_sea_con a.hotmit{width:120px;background:#ff9933;}
.float_search .f_s_a .f_s_na{ width:240px;background-color:#e9e9e9; top:50px; left:0; display:none; z-index:10;}
.float_search .f_s_a .f_s_na p{ height:40px; line-height:40px;color:#999; border-bottom:1px solid #ccc;}
.float_search .f_s_a .f_s_na p:hover{background-color:#e1e1e1;}
/*二级浮动导航菜单*/
.float_menu{width:285px; height:400px;top:0;left:50%;margin-left:-600px;}
.float_menu_ul{border-bottom:solid 1px #545352;width:285px; height:91px;}
.float_menu_ul dl{width:240px;}
.float_menu_ul h3{line-height:28px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.float_menu_ul p{width:240px;line-height:24px; height:48px;overflow:hidden;}
.float_menu_ul dl p a{color:#ccc;display:inline-block;}
.float_menu_ul a:hover{color:#f39600;}
.float_menu_ul:hover{ background-color:#fff;}
.float_menu_ul:hover h3{color:#333;}
.float_menu_ul:hover .float_m_p a{ color:#999;}
.float_menu_right{width:620px; height:350px; background-color:#fff; padding:16px 40px 16px 40px; display:none;}
.da1{top:0;left:285px;}
.da2{top:-92px;left:285px;}
.da3{top:-184px;left:285px;}
.da4{top:-276px;left:285px;}
.float_menu_l,.float_menu_r{width:290px;height:352px;}
.float_menu_l h4,.float_menu_r h4{ font-size:22px; line-height:54px; border-bottom:1px solid #ccc;}
.float_menu_l p,.float_menu_r p{width:290px; overflow:hidden;}
.float_menu_r .float_p{ height:100px;}
.float_menu_r .float_li,.float_menu_r .float_li a{ width:290px; height:150px;}
/*二级导航菜单end*/
/*限时特卖*/
.limit_bg{ width: 100%; height: 416px;}
.limit{ border-bottom: 1px solid #999;}
.limit .icon_huan,.sunday .icon_huan,.fine_ti .icon_huan{ width: 100px; height: 40px; background:url(../images/icon_huan.png)  no-repeat  10px -10px; right: 0;}
.cont_tit{height: 40px;}
.cont_tit h3{ line-height: 30px;width: 200px;}
.cont_tit span{margin-left: 100px; display: block; width: 200px; line-height: 38px;}
.hot_li{ width: 380px; height:130px ;}
.hot_img_con{ width: 250px; height: 130px;}
.hot_ic_p a{ display:block; width:210px;height:60px; line-height: 20px;overflow:hidden; }
.monery_bold{  color: #ff6666; font-size: 28px; font-weight: bold;}
.hot_img_con .get_monery{width:210px;height:38px;}
.hot-box-hover{width: 130px;height: 130px;}
.shadow_hot_img{ width: 100%; height:100%; background: rgba(255,255,255,0.5) !important; top: 0;; left: 0;}
.limit_div li.yin,.sunday_r dl.yin,.char_con_f dl.yin{box-shadow:3px 3px 3px #CCCCCC;-moz-box-shadow:3px 3px 3px #CCCCCC;-webkit-box-shadow:3px 3px 3px #CCCCCC;}
/*限时特卖end*/
/*周末自驾游*/
.sunday_bg,.characteristic,.package_tour,.aro_were{width: 100%;background: #f8f8f8;}
.sunday_bg .sunday{border-bottom: 3px solid #f8dcdb;}
.sunday_con .sunday_con_l{ width:130px; height:108px; background-color:#fa6b67;}
.sunday_con .sunday_con_l span{width:108px; height:107px; border-bottom:1px solid #fb8e8b; line-height:108px;}
.sunday_con .sunday_con_l i{display: block; width:11px; height:21px; background:url(../images/image1.png) no-repeat -6px -178px; right:0;top:50%; margin-top:-10px;display: none;}
.sunday_con .sunday_con_l i.block,.characteristic .characte .char_ul span.block,.charged .charged_h .char_ul span.block,.package .char_ul span.block,.free_h .char_ul span.block{display: block;}
.sunday_con li{ width:285px; cursor: pointer;}
.sunday_con li.waite{background-color: #fff;}
.sunday_con .sunday_con_r{ width:155px;}
.sunday_con .sunday_con_r dt,.sunday_con .sunday_con_r dd{width:115px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sunday_con .sunday_con_r dt{ line-height:30px;}
.sunday_con .sunday_con_r dd{ line-height:28px;}
.sunday_r{ width:915px;}
.sunday_r dl,.char_dl{ background-color:#fff;width:283px;}
.sunday_r dl dt{ width:283px; height:210px;}
.sunday_r dl dd a,.char_dl dd a{ line-height:28px; width:265px; height:56px; overflow:hidden;}
.sunday_r dl dd p,.char_dl dd p{width:265px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sunday_r dl dd p span{ font-size:34px; color:#f39600;}
/*周末自驾游end*/
/*精品线路*/
.fine_line .limit_tit{border-bottom: 3px solid #e3f6f3;}
.fine_line .sunday_con .fine_ti_l{ width:130px; height:322px; background:url(../images/find1.png) no-repeat center;background-color:#75d2c1;}
.fine_line .fine_ti_r{left:150px; top:40px; width:135px;}
.fine_line .fine_ti_r a{ width:90px; height:24px; border:1px solid #333; margin:0 auto; line-height:24px; color:#333;}
.fine_line .fine_ti_r a:hover{ color:#f39600;border:1px solid #f39600}
.fine_line .fine_ti_r img{ margin-top:54px;}
/*精品线路end*/
/*特色主题*/
.characteristic .characte{border-bottom: 3px solid #d9ebf4;}
.characteristic .characte .char_ul,.charged .charged_h .char_ul,.package .char_ul,.free_h .char_ul{ line-height:30px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; height:33px; margin-bottom:-3px;}
.characteristic .characte .char_ul span,.charged .charged_h .char_ul span,.package .char_ul span,.free_h .char_ul span{display: block; height:3px; width:100%; bottom:-3px; left:0; display: none;}
.characteristic .characte .char_ul span{background-color:#74c1e6;}
.sunday_con .char_con_f{ width:1200px;}
.sunday_con .char_dl_f dt{ width:590px; height:266px;}
.shadow{ width:100%; height:84px; bottom:0; left:0; line-height:24px;}
.shadow p{width:200px; line-height:28px; overflow:hidden;}
.shadow p span{ color:#f39600;}
.char_dl{height: 266px;}
.char_dl dt{ width:283px; height:182px}
.char_dl dd{ line-height: 22px;}
.char_dl dd p span{color:#f39600;}
.char_dl .titles{left:0; top:0;line-height: 30px;width: 283px;}
.char_dl .titles a:hover i{background: url(../images/image1.png) no-repeat -48px -229px;}
.char_dl .titles i{ width: 66px; height: 66px; background: url(../images/image1.png) no-repeat -52px -155px; margin: 0 auto;}
/*酒店控*/
.charged .charged_h{border-bottom: 3px solid #f2e0ed;}
.charged .charged_h .char_ul span{background-color:#c97eb4;}
/*酒店空end*/
/*周边跟团游*/
.package{border-bottom: 3px solid #e2ebcd;}
.package .char_ul span{background-color:#9cc345;}
/*周边跟团游end*/
/*周边自由行*/
.free_h{border-bottom: 3px solid #fbe1ec;}
.free_h .char_ul span{background-color:#ed81b1;}
/*周边自由行end*/
/*周边游去哪玩*/
.aro_were_t{border-bottom: 3px solid #d9ebf4;}
.block_box .block_b{width: 1200px; height: 306px; overflow: hidden;}
.block_box .block_b li{top: 0;}
.block_box .block_b a{ width: 334px;height: 306px;}
.block_box .block_b img{display: block;border-left: 6px solid #fff;}
.block_box .block_b a i{width: 100%;height:306px;left: 6px;top: 0;}
.block_box .block_b span{left: 20px;top:30px;}
.block_box .block_b span h3{border-bottom: 1px solid #fff; line-height: 30px;width: 310px;}









































