{% load staticfiles %}

{% comment %}

文本测试
{% endcomment %}

{{ name }}
<!--<link href="../static/css/reset.css" rel="stylesheet" type="text/css">-->
<link href="{% static 'css/restet.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bottom.css' %}" rel="stylesheet" type="text/css">
<!--diyong begin-->
<div class="diyong clearfix">
    <div class="neirong container">
        <div class="container mt50">
            <h1 class="clearfix fon16">
                <span class="fl quan mt5"></span>
                <span class="fl ml20 fon16 lin26 color960">版权声明  </span>
            </h1>
            <p class="fon14 color666 mt15 lin26 pl35">56人公司独立拥有、与本站用户共同拥有、或与合作机构共同拥有本站全部产品或服务涉及之内容、材料、数据等信息的版权和其他相关知识产权，该等权益受法律保护。</p>
            <p class="fon14 color666 mt15 lin26 pl35">未经本公司书面许可，任何机构及个人不得以任何形式对上述内容、材料、数据等信息的任何部分或整体进行使用、复制、修改、抄录、传播、展示、镜像、上传、下载或与其它产品捆绑使用、销售等。特别明确的是，任何机构或人不得擅自利用软件程序自动获取、复制、传播本公司上述内容、材料或数据等信息。</p>
            <p class="fon14 color666 mt15 lin26 pl35">非经允许，任何机构或个人浏览、复制、打印等方式使用本公司网站、产品、或服务中涉及的各类信息均不得用作商业目的。否则由此引发的责任，本公司概不负责，并保留进一步追究的权利。</p>
            <p class="fon14 color666 mt15 lin26 pl35">凡侵犯本公司版权等各类知识产权权益的，本公司必依法追究其法律责任。</p>
            <p class="fon14 color666 mt15 lin26 pl35">特此郑重法律声明！</p>
        </div>
    </div>
</div>
<div class="kongbai"></div>
<!--diyong end-->
<!--order_center-->
<!--end-->
<!--footer-->
<div class="footer">
	<div class="container">
    	<ul class="foot">
        	<li>
            	<img src="images/24.png">
                <p>无理由退款</p>
            </li>
            <li>
            	<img src="images/eye.png">
                <p>所见即所得</p>
            </li>
            <li>
            	<img src="images/special.png" >
                <p>重大灾害保障</p>
            </li>
            <li>
            	<img src="images/hour.png">
                <p>24小时热线服务</p>
            </li>
        </ul>
    </div>
</div>
<div class="footerr">
	<div class="container">
    	<ul class="footera">
        	<li>
            	<p>关于我们</p>
            	<a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a>
            </li>
            <li>
            	<p>关于我们</p>
            	<a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a>
            </li>
            <li>
            	<p>关于我们</p>
            	<a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a>
            </li>
            <li>
            	<p>关于我们</p>
            	<a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a>
            </li>
            <li>
            	<p>关于我们</p>
            	<a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a>
            </li>
            <li>
            	<p>关于我们</p>
            	<a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a>
            </li>
            <li>
            	<p>关于我们</p>
            	<a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a><br/>
                <a href="#">56人简介</a>
            </li>
        </ul>
    </div>
</div>
<hr>
<img src="{% static 'img1.jpg' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/laydate.dev.js' %}"></script>